
@-webkit-keyframes pulse {
    0% {
     transform: scale(.9);
    }
    70% {
        transform: scale(1);
        box-shadow: 0 0 0 50px rgba($white, 0);
    }
    100% {
        transform: scale(.9);
        box-shadow: 0 0 0 0 rgba($white, 0);
    }
}

@keyframes pulse {
    0% {
        transform: scale(.9);
    }
    70% {
        transform: scale(1);
        box-shadow: 0 0 0 50px rgba($white, 0);
    }
    100% {
        transform: scale(.9);
        box-shadow: 0 0 0 0 rgba($white, 0);
    }
}