.footer {
	padding-top: 20px;
	@media #{$sm-max} {
		text-align: center;
	}

	.col-holder {
		@media #{$md-max} {
			flex-wrap: wrap;
			flex-direction: row;
		}
	}

	.col {
		width: 25%;

		&:first-child {
			@media #{$md-max} {
				width: 100%;
			}
		}

		&:last-child {
			@media #{$sm-max} {
				width: 100%;
			}
		}

		@media #{$md-max} {
			width: 50%;
		}
	}

	.logo {
		@media #{$md-max} {
			margin-bottom: 20px;
		}
	}

	.menu {
		padding: 0;
		margin: 0;
		font-size: 16px;

		li {
			list-style: none;
			margin-bottom: 18px;

			img {
				margin-right: 18px;

				@media #{$md-max} {
					margin-right: 8px;
				}
			}
		}

		a {
			color: $default-text-color;
			// white-space: nowrap;

			&:hover {
				color: $sea-blue;
				text-decoration: none;
			}
		}
	}

	&.bg {
		&:before {
			bottom: 0;
			top: auto;
			z-index: -1;
		}
	}
}