.form-control {
	background: $light-blue-bg;
	height: 44px;
	font-size: 14px;
	border: none;
	box-shadow: none;
	width: 100%;
	padding: 0 20px;
}

.subscribe-form {
	position: relative;

	@media #{$md-max} {
		max-width: 300px;
		margin: 0 auto;
	}

	::-webkit-input-placeholder { /* Chrome/Opera/Safari */
	  color: $default-text-color;
	}
	::-moz-placeholder { /* Firefox 19+ */
	  color: $default-text-color;
	}
	:-ms-input-placeholder { /* IE 10+ */
	  color: $default-text-color;
	}
	:-moz-placeholder { /* Firefox 18- */
	  color: $default-text-color;
	}

	.btn-submit {
		position: absolute;
		top: 50%;
		right: 10px;
		transform: translate(0,-50%);
		width: 24px;
		height: 24px;
		background: url(../images/send.svg) center no-repeat;
		box-shadow: none;
		border: none;
	}

	.form-control {
		padding-right: 48px;
	}
}