.header {
	position: absolute;
	left: 0;
	top: 0;
	width: 100%;
	z-index: 10;
	padding: 34px 0;

	.container {
		display: flex;
		align-items: center;
		height: 100%;
		justify-content: space-between;
	}

	.holder {
		display: flex;
		align-items: center;

		.btn {
			margin-left: 60px;
		}
	}
}

.logo {
	display: inline-block;
	vertical-align: top;
}