html {
	height: 100%;
}

body {
	height: 100%;
	position: relative;
	font-family: $default-font;
	font-size: $default-font-size;
	font-weight: $default-font-weight;
	font-style: $default-font-style;
	line-height: $default-line-height;
	color: $default-text-color;
	background-color: $body-bg;
	min-width: 320px;

	&.open-menu {
		overflow: hidden !important;
	}
}

.layout {
	position: relative;
	overflow: hidden;
	min-height: 100%;
}

.container {
	max-width: 1200px;
	margin: 0 auto;
	width: 100%;
	position: relative;
	padding: 0 30px;

	@media #{$xs-max} {
		padding: 0 15px;
	}
}

.section {
	padding: 60px 0;

	@media #{$md-max} {
		padding: 30px 0;
	}
}
