//Path

$path-fonts: '../fonts/';
$path-img: '../images/';

//Fonts
$arial: Arial, sans-serif;
$roboto: 'Roboto', sans-serif;
$archivo: 'Archivo', sans-serif;

//Colors
$black: #000;
$white: #fff;

$grey: #8892a0;

$text-color: $grey;

$blue: #00c3e6;
$dark-blue: #214068;
$light-blue: #e4f4ff;
$sea-blue: #0086e6;

$light-blue-bg: #f2f7fa;

$brand-color: $blue;

//Default settings
$default-font: $roboto;
$default-font-size: 13px;
$default-line-height: 1.5;
$default-font-weight: 400;
$default-font-style: normal;
$default-text-color: $grey;

$default-border-radius: 3px;

$body-bg: $white;


$screen-xs:                  576px !default;
$screen-xs-min:              $screen-xs !default;
$screen-phone:               $screen-xs-min !default;

$screen-sm:                  768px !default;
$screen-sm-min:              $screen-sm !default;
$screen-tablet:              $screen-sm-min !default;

$screen-md:                  992px !default;
$screen-md-min:              $screen-md !default;
$screen-desktop:             $screen-md-min !default;

$screen-lg:                  1200px !default;
$screen-lg-min:              $screen-lg !default;
$screen-lg-desktop:          $screen-lg-min !default;

$screen-xl:                  1400px !default;
$screen-xl-min:              $screen-xl !default;
$screen-xl-desktop:          $screen-xl-min !default;

$screen-xs-max:              ($screen-xs-min - 1) !default;
$screen-sm-max:              ($screen-sm-min - 1) !default;
$screen-md-max:              ($screen-lg-min - 1) !default;


$xl-max: 'screen and (max-width: #{$screen-xl + 1})';
$xl-min: 'screen and (min-width: #{$screen-xl})';
$lg-max: 'screen and (max-width: #{$screen-xl - 1})';
$lg-min: 'screen and (min-width: #{$screen-lg})';
$md-max: 'screen and (max-width: #{$screen-lg - 1})';
$md-min: 'screen and (min-width: #{$screen-md})';
$sm-max: 'screen and (max-width: #{$screen-md - 1})';
$sm-min: 'screen and (min-width: #{$screen-sm})';
$xs-max: 'screen and (max-width: #{$screen-sm - 1})';
$xs-min: 'screen and (min-width: #{$screen-xs})';