<header class="header">
	<div class="container">
		<a href="#" class="logo">
			<img src="images/logo.svg" alt="logo" class="hidden-sm">
			<img src="images/logo-white.svg" alt="logo" class="visible-sm">
		</a>
		<div class="holder">
			<ul class="nav">
				<li><a href="#team" class="link-menu">About</a></li>
				<li><a href="#" class="link-menu">Whitepaper</a></li>
				<li><a href="#development" class="link-menu">Milestones</a></li>
				<li><a href="#footer" class="link-menu">Contacts</a></li>
			</ul>
			<a href="#" class="btn btn-transparent">Subscribe</a>
			<div class="mobile-menu-btn visible-sm"><span></span></div>
		</div>
	</div>
</header>