<header class="header">
	<div class="container">
		<a href="#" class="logo">
			<img src="images/logo.svg" alt="logo" class="hidden-sm">
			<img src="images/logo-white.svg" alt="logo" class="visible-sm">
		</a>
		<div class="holder">
			<ul class="nav">
				<li><a href="#team" class="link-menu">Team</a></li>
				<li><a href="https://lumeos.io/whitepaper" target="_blank" class="link-menu">Whitepaper</a></li>
				<li><a href="#milestones" class="link-menu">Project Milestones</a></li>
				<li><a href="#footer" class="link-menu">Contact Us</a></li>
			</ul>
		</div>
	</div>
</header>
